<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-5.3.xsd">

    <!-- Cấu hình chính cho Spring Security -->
    <http auto-config="true">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/> <!-- Cấu hình quyền truy cập cho admin -->
        <logout logout-success-url="/logout" invalidate-session="true"/> <!-- Cấu hình chức năng logout -->
    </http>

    <!-- Cấu hình người dùng -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="{noop}password" authorities="ROLE_ADMIN"/> <!-- Thay đổi mật khẩu và quyền cho admin -->
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
